# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Exclude the node_modules directory and its content
node_modules/

# Exclude all environement variable files
*.env

# Exclude all temporary files that start with "~$"
~$*

# Exclude all temporary result files that start with "results_" and have an .xlsx extension
results_*.xlsx

# Exclude the folder and all files contained in the draftAttempts folder, which are not strictly necessary for the app
draftAttempts

# Exclude all files in the asset folder that are not strictly necessary for the app
assets/*.json
# Include the exceptions
!assets/countries.json
!assets/headerNames_country.json
!assets/headerNames_lane_id.json

# Exclude all files in the worksheet folder that are not strictly necessary for the app and 
worksheets/*.xlsx
# Include the exceptions
!worksheets/BookToValidate01.xlsx
!worksheets/BookToValidate02.xlsx