# Exclude the node_modules directory and its content
node_modules/
dist/

# Exclude all temporary files that start with "~$"
~$*

# Exclude all temporary result files that start with "results" and have an .xlsx extension
results*.xlsx